geckodriver.log
.idea/
/factory_data/json_instances/
/factory_data/instances_new/
/factory_data/json_instances/
/simulators/simulator7/outputs/
/factory_data/Representativefactory.pkl
/results/results_algorithm/
/results/resource_usage/
/simulators/simulator6/data/
