geckodriver.log
.idea/
/simulators/simulator7/outputs/
/factory_data/instances_legacy/Representativefactory.pkl
/results/results_algorithm/
/results/resource_usage/
/simulators/simulator6/data/
/factory_data/instances_legacy/
